Repository 0xBigBoss/ghostty-webgl: changes, and which lefthook commands are due for each by the changed paths.
All: oxlint, oxfmt, typecheck

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    oxlint:
      glob: "*.{ts,tsx,js,jsx}"
      run: bunx oxlint {staged_files}
    oxfmt:
      glob: "*.{ts,tsx,js,jsx,json}"
      run: bunx oxfmt --check {staged_files}
    typecheck:
      glob: "*.{ts,tsx}"
      run: bun run typecheck

pre-push:
  parallel: true
  commands:
    knip:
      run: bun run knip
    cpd:
      run: bun run cpd

Refine WebGL renderer plan with review feedback
  IMPLEMENTATION_PLAN.md
Due: none

Add cross-platform WebGL2 best practices and validation harness
  IMPLEMENTATION_PLAN.md
Due: none

Add research-based WebGL2 best practices from web search
  IMPLEMENTATION_PLAN.md
Due: none

Fix premultiplied alpha and R8 sampling, tighten WebGL2 guidance
  IMPLEMENTATION_PLAN.md
Due: none

Reorganize workspace for implementation
  .gitignore
  PLAN.md
  docs/archive/PLAN-original.md
  docs/archive/RESEARCH.md
  packages/libghostty-webgl/package.json
  packages/libghostty-webgl/src/index.ts
  packages/libghostty-webgl/tsconfig.json
  tsconfig.json
Due: oxlint, oxfmt, typecheck

feat: add webgl2 renderer and bootty submodule
  .gitmodules
  PLAN.md
  docs/archive/PLAN-original.md
  docs/archive/RESEARCH.md
  packages/libghostty-webgl/src/CellBuffer.ts
  packages/libghostty-webgl/src/GlyphAtlas.ts
  packages/libghostty-webgl/src/WebGLRenderer.ts
  packages/libghostty-webgl/src/index.ts
  packages/libghostty-webgl/src/shaders/background.ts
  packages/libghostty-webgl/src/shaders/decoration.ts
  packages/libghostty-webgl/src/shaders/glyph.ts
  packages/libghostty-webgl/src/shaders/solid.ts
  packages/libghostty-webgl/src/types.ts
Due: oxlint, oxfmt, typecheck

Update PLAN.md with detailed BooTTY integration checklist
  PLAN.md
Due: none

feat(libghostty-webgl): add debug logging infrastructure
  packages/libghostty-webgl/package.json
  packages/libghostty-webgl/src/CellBuffer.ts
  packages/libghostty-webgl/src/WebGLRenderer.ts
Due: oxlint, oxfmt, typecheck

chore: update lockfile and vscode-bootty submodule
  bun.lock
Due: none

fix(libghostty-webgl): correct glyph rasterization X bearing
  packages/libghostty-webgl/src/GlyphAtlas.ts
Due: oxlint, oxfmt, typecheck

fix(libghostty-webgl): improve profiling visibility and reduce log noise
  packages/libghostty-webgl/src/WebGLRenderer.ts
Due: oxlint, oxfmt, typecheck

feat(perf): add webgl profiling hooks and perf docs
  .gitignore
  AGENTS.md
  CLAUDE.md
  OPTMIIZATIONS.md
  PLAN.md
  bun.lock
  docs/perf-acceptance.md
  packages/libghostty-webgl/src/CellBuffer.ts
  packages/libghostty-webgl/src/WebGLRenderer.ts
  packages/libghostty-webgl/src/profile.ts
Due: oxlint, oxfmt, typecheck

chore(tooling): scope knip to workspace root
  knip.json
Due: oxfmt

Update submodules and build scripts
  CLAUDE.md
  package.json
Due: oxfmt

perf(webgl): optimize cellbuffer uploads
  packages/libghostty-webgl/src/CellBuffer.ts
Due: oxlint, oxfmt, typecheck

fix(pty): handle Buffer serialization in webview postMessage
  TODO.md
Due: none

docs: update TODO.md with PTY fix completion status
  TODO.md
Due: none

docs: update TODO.md - removed logging infrastructure, minimal fix only
  TODO.md
Due: none

chore: update TODO.md and vscode-bootty submodule
  TODO.md
Due: none

docs: document blocked status - multi-user permission issue
  TODO.md
Due: none

fix: backspace rendering and add E2E tests
  TODO.md
Due: none

refactor(webgl): stage render pipeline and harden atlas/grapheme paths
  packages/libghostty-webgl/src/CellBuffer.test.ts
  packages/libghostty-webgl/src/CellBuffer.ts
  packages/libghostty-webgl/src/GlyphAtlas.test.ts
  packages/libghostty-webgl/src/GlyphAtlas.ts
  packages/libghostty-webgl/src/WebGLRenderer.ts
  packages/libghostty-webgl/src/types.ts
Due: oxlint, oxfmt, typecheck
